# Raw datas

In [2]:
# Data handling
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


# Machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv("../data/UCI_Credit_Card.csv")
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [4]:
X = df.drop(["default.payment.next.month"], axis=1)
y = df["default.payment.next.month"]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

### Without scales values

In [6]:
models = [LogisticRegression(), SVC(), LinearSVC(), RandomForestClassifier(), KNeighborsClassifier(), GaussianNB(), Perceptron(), SGDClassifier(), DecisionTreeClassifier()]

In [7]:
for model in models:
    print("Model:", model)
    classifier = model
    classifier.fit(X_train, y_train)
    print(classifier.score(X_test, y_test))

Model: LogisticRegression()
0.7822222222222223
Model: SVC()
0.7822222222222223
Model: LinearSVC()
0.7822222222222223
Model: RandomForestClassifier()
0.8144444444444444
Model: KNeighborsClassifier()
0.75
Model: GaussianNB()
0.3778888888888889
Model: Perceptron()
0.7821111111111111
Model: SGDClassifier()
0.7464444444444445
Model: DecisionTreeClassifier()
0.728

### With scaled values

In [8]:
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [9]:
for model in models:
    print("Model:", model)
    classifier = model
    classifier.fit(X_train, y_train)
    print(classifier.score(X_test, y_test))

Model: LogisticRegression()
0.8091111111111111
Model: SVC()
0.819
Model: LinearSVC()
0.8036666666666666
Model: RandomForestClassifier()
0.8152222222222222
Model: KNeighborsClassifier()
0.794
Model: GaussianNB()
0.6955555555555556
Model: Perceptron()
0.7726666666666666
Model: SGDClassifier()
0.807
Model: DecisionTreeClassifier()
0.7086666666666667